[submodule "lib/posts-to-posts"]
	path = lib/posts-to-posts
	url = https://github.com/scribu/wp-posts-to-posts.git
[submodule "lib/cmb"]
	path = lib/cmb
	url = https://github.com/humanmade/Custom-Meta-Boxes.git
[submodule "lib/cpt-archive-menu"]
	path = lib/cpt-archive-menu
	url = https://github.com/AllStruck/custom-post-type-archive-menu.git
